@use '../../presets' as *;
@use '../mixins' as *;

.experience {
  padding-top: 100px;
  padding-bottom: 92px;
  align-self: center;
  @include color;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    gap: $gap;

    @media (max-width: 992px) {
      justify-content: center;
    }
  }

  &-item {
    display: flex;
    flex-wrap: wrap;

    gap: $gap;

    @media (max-width: 992px) {
      justify-content: space-evenly;
    }

    &__image {
      order: -1;
    }
  }
}
